{% load staticfiles mptt_tags %}
<link rel="stylesheet" media="screen, projection" href="{% static 'mptt_graph/tree.css' %}" />
<div class="row">
	<div class="col-xs-12">
		<div class="tree">
			<ul>
			{% recursetree nodes %}
		        <li>
		        	<a href="{{ node.url }}" id="{{ id }}">
		            	{{ node.title }}
		            	<div id="displayzone_{{ id }}" class="displayzone"></div>
		            </a>
		            {% if not node.is_leaf_node %}
		                <ul>
		                    {{ children }}
		                </ul>
		            {% endif %}
		        </li>
		    {% endrecursetree %}
		    </ul>
	    </div>
	</div>
</div>