{% extends "base.html" %}
{% load staticfiles mptt_tags %}

{% block title %}Model graph{% endblock title %}

{% block content %}
<link rel="stylesheet" media="screen, projection" href="{% static 'mptt_graph/tree.css' %}" />
<div class="row">
	<div class="col-xs-12">
		<div class="tree">
			<ul>
			{% recursetree nodes %}
		        <li>
		        	<a href="{% if node.url %}{{ node.url }}{% endif %}" id="{{ id }}">
		            	{{ node.title }}
		            	<div id="displayzone_{{ id }}" class="displayzone"></div>
		            </a>
		            {% if not node.is_leaf_node %}
		                <ul>
		                    {{ children }}
		                </ul>
		            {% endif %}
		        </li>
		    {% endrecursetree %}
		    </ul>
	    </div>
	</div>
</div>
{% endblock content %}